<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send data</title>
</head>
<body>
<h1>Send Message</h1>
<!-- action : Form이 데이터를 보낼 URL-->
<!-- method : 어떤 요청을 보낼지 (데이터를 조회? 또는 전송인지)-->
<!-- post : 데이터를 보낸다(전송) // Get : 데이터를 조회한다-->
<form action="/receive" method="post">

    <label for="message-input"> Message
        <input type="text" id="message-input" name="message">
    </label><br>
    <!--  양식 제출 버튼  -->
    <input type="submit" value="Send Message">
</form>
</body>
</html>